{% extends 'drug/base.html' %} {% load staticfiles %} {% block extend_head %}
<link
  rel="stylesheet"
  href="{% static 'vendor/charts/morris-bundle/morris.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}"
/>
{% endblock %} {% block content %}
<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
      <a class="navbar-brand" href="index.html">Health Wellness</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
  <div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="d-xl-none d-lg-none" href="#">Diagnosis</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-divider">Menu</li>
            <li class="nav-item ">
              <a
                class="nav-link active"
                href="#"
                data-toggle="collapse"
                aria-expanded="false"
                data-target="#submenu-1"
                aria-controls="submenu-1"
                ><i class="fa fa-fw fa-user-circle"></i>Diagnosis
                <span class="badge badge-success">6</span></a
              >
              <div id="submenu-1" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="#"
                      data-toggle="collapse"
                      aria-expanded="false"
                      data-target="#submenu-1-2"
                      aria-controls="submenu-1-2"
                      >E-Commerce</a
                    >
                    <div id="submenu-1-2" class="collapse submenu" style="">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="index.html"
                            >E Commerce Dashboard</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="ecommerce-product.html"
                            >Product List</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            class="nav-link"
                            href="ecommerce-product-single.html"
                            >Product Single</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            class="nav-link"
                            href="ecommerce-product-checkout.html"
                            >Product Checkout</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="dashboard-finance.html"
                      >Finance</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="dashboard-sales.html">Sales</a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="#"
                      data-toggle="collapse"
                      aria-expanded="false"
                      data-target="#submenu-1-1"
                      aria-controls="submenu-1-1"
                      >Infulencer</a
                    >
                    <div id="submenu-1-1" class="collapse submenu" style="">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="dashboard-influencer.html"
                            >Influencer</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="influencer-finder.html"
                            >Influencer Finder</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="influencer-profile.html"
                            >Influencer Profile</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                data-toggle="collapse"
                aria-expanded="false"
                data-target="#submenu-2"
                aria-controls="submenu-2"
                ><i class="fa fa-fw fa-rocket"></i>UI Elements</a
              >
              <div id="submenu-2" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="pages/cards.html"
                      >Cards <span class="badge badge-secondary">New</span></a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/general.html">General</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/carousel.html">Carousel</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/listgroup.html"
                      >List Group</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/typography.html"
                      >Typography</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/accordions.html"
                      >Accordions</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/tabs.html">Tabs</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                data-toggle="collapse"
                aria-expanded="false"
                data-target="#submenu-3"
                aria-controls="submenu-3"
                ><i class="fas fa-fw fa-chart-pie"></i>Chart</a
              >
              <div id="submenu-3" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="pages/chart-c3.html">C3 Charts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/chart-chartist.html"
                      >Chartist Charts</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/chart-charts.html">Chart</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/chart-morris.html"
                      >Morris</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/chart-sparkline.html"
                      >Sparkline</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/chart-gauge.html">Guage</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item ">
              <a
                class="nav-link"
                href="#"
                data-toggle="collapse"
                aria-expanded="false"
                data-target="#submenu-4"
                aria-controls="submenu-4"
                ><i class="fab fa-fw fa-wpforms"></i>Forms</a
              >
              <div id="submenu-4" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="pages/form-elements.html"
                      >Form Elements</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/form-validation.html"
                      >Parsely Validations</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/multiselect.html"
                      >Multiselect</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/datepicker.html"
                      >Date Picker</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/bootstrap-select.html"
                      >Bootstrap Select</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                data-toggle="collapse"
                aria-expanded="false"
                data-target="#submenu-5"
                aria-controls="submenu-5"
                ><i class="fas fa-fw fa-table"></i>Tables</a
              >
              <div id="submenu-5" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="pages/general-table.html"
                      >General Tables</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/data-tables.html"
                      >Data Tables</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="dashboard-wrapper">
    <div class="dashboard-influence">
      <div class="container-fluid dashboard-content">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
              <h3 class="mb-2">
                Health Wellness Platform {{ request.user.username }}
              </h3>
              <p class="pageheader-text">
                Proin placerat ante duiullam scelerisque a velit ac porta, fusce
                sit amet vestibulum mi. Morbi lobortis pulvinar quam.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card influencer-profile-data">
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-12">
                    <div class="user-avatar-info">
                      <div class="m-b-20">
                        <div class="user-avatar-name">
                          <h2 class="mb-1">
                            Hi {{ request.user.get_full_name }}
                          </h2>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div id="finale"></div>
                        <div class="form-group" id="feeling">
                          <label for="wellnessquestion">
                            How are you feeling today?
                          </label>
                          <textarea
                            class="form-control"
                            id="wellnessquestion"
                            rows="6"
                            style="width:100%;"
                          ></textarea>
                        </div>
                        <div class="form-group row justify-content-center">
                          <button class="btn btn-primary" id="submit">
                            Submit
                          </button>
                        </div>
                        <div id="insertoptions"></div>
                      </div>
                      <!--  <div class="float-right"><a href="#" class="user-avatar-email text-secondary">www.henrybarbara.com</a></div> -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="border-top user-social-box">
                <div class="user-social-media d-xl-inline-block">
                  <span class="mr-2 twitter-color">
                    <i class="fab fa-twitter-square"></i></span
                  ><span>13,291</span>
                </div>
                <div class="user-social-media d-xl-inline-block">
                  <span class="mr-2  pinterest-color">
                    <i class="fab fa-pinterest-square"></i></span
                  ><span>84,019</span>
                </div>
                <div class="user-social-media d-xl-inline-block">
                  <span class="mr-2 instagram-color">
                    <i class="fab fa-instagram"></i></span
                  ><span>12,300</span>
                </div>
                <div class="user-social-media d-xl-inline-block">
                  <span class="mr-2  facebook-color">
                    <i class="fab fa-facebook-square "></i></span
                  ><span>92,920</span>
                </div>
                <div class="user-social-media d-xl-inline-block ">
                  <span class="mr-2 medium-color">
                    <i class="fab fa-medium"></i></span
                  ><span>291</span>
                </div>
                <div class="user-social-media d-xl-inline-block">
                  <span class="mr-2 youtube-color">
                    <i class="fab fa-youtube"></i></span
                  ><span>1291</span>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div class="footer" style="position: fixed;bottom: 0;z-index: 1030;">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-6 offset-md-1 col-lg-6 col-md-6 col-sm-12 col-12">
            Made with <i class="fa fa-heart" style="color:red;"></i> by team
            Ctrl plus C
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- end wrapper  -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
{% endblock %} {% block scripts %}
<script src="{% static '/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
<!-- main js -->
<script src="{% static 'js/main-js.js' %}"></script>
<!-- morris-chart js -->
<script src="{% static 'vendor/charts/morris-bundle/raphael.min.js' %}"></script>
<script src="{% static 'vendor/charts/morris-bundle/morris.js' %}"></script>
<script src="{% static 'vendor/charts/morris-bundle/morrisjs.html' %}"></script>
<!-- chart js -->
<script src="{% static 'vendor/charts/charts-bundle/Chart.bundle.js' %}"></script>
<script src="{% static 'vendor/charts/charts-bundle/chartjs.js' %" }></script>
<!-- dashboard js -->
<script src="{% static 'js/dashboard-influencer.js' %}"></script>
<script>
  $("#submit").click(function(event) {
    console.log("clicked");
    event.preventDefault();
    var userQuery = $("#wellnessquestion").val();
    data = {};
    data["text"] = userQuery;
    data["csrfmiddlewaretoken"] = "{{ csrf_token }}";
    var htmlstr = "";
    $.ajaxSetup({
      headers: { "X-CSRFToken": "{{csrf_token}}" }
    });
    $.ajax({
      type: "POST",
      url: "/api/parse/",
      data: data,
      success: function(data) {
        console.log("in");
        $.map(data, function(value, index) {
          htmlstr +=
            '<input type="checkbox" name="selectOption" value="' +
            value +
            '">' +
            index +
            "</input><br/>";
        });
        htmlstr += '<input type="checkbox" name="gender" value="male">Male</input><br/><input type="checkbox" name="gender" value="female">Female</input><br/>';
        htmlstr += '<input type="text" placeholder="age" id="userage" /><br/>';
        htmlstr +=
          '<div class="form-group row justify-content-center diagnosis"><button class="btn btn-primary" id="diagnose">Diagnose</button></div>';
        $("#feeling").fadeOut();
        $("#submit").fadeOut();
        $("#insertoptions").html(htmlstr);
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        console.log("error");
      }
    });
  });
</script>
<script>
  $("body").on('click', '#diagnose' , function(event){
    console.log("clicked");
    event.preventDefault();
    var selectedOnes = [];
    var unselectedOnes = [];
    $("input[name='selectOption']:checked").each(function() {
      selectedOnes.push($(this).val());
    });
    $("input[name='selectOption']:checkbox:not(:checked)").each(function() {
      unselectedOnes.push($(this).val());
    });
    var gender = $("input[name='gender']:checked").val();
    var age = $("#userage").val();
    data = {};
    data["choices[]"] = selectedOnes;
    data["unchoices[]"] = unselectedOnes;
    data["gender"] = gender;
    data["age"] = age;
    data["csrfmiddlewaretoken"] = "{{ csrf_token }}";
    $.ajaxSetup({
      headers: { "X-CSRFToken": "{{csrf_token}}" }
    });
    $.ajax({
      type: "POST",
      url: "/api/diagnose/",
      data: data,
      success: function(data) {
          $('#insertoptions').fadeOut();
          htmlstr = "";
          htmlstr += "<h1>Possible diseases in decreasing order of probability</h1>";
          $.map(data.test.conditions, function(value, index){
            htmlstr += '<h3>' + (index + 1) + '. ' + value.name + ' ' + value.probability + '</h3>';
          })
          $('#finale').html(htmlstr);
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        console.log("error");
      }
    });
  });
</script>
{% endblock %}
