{% extends 'drug/base.html' %} {% load staticfiles %} {% block content %}
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
      <a class="navbar-brand" href="index.html"
        ><img
          class="img-responsive"
          style="width:30%;"
          src="{% static 'chiron.png' %}"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent"></div>
    </nav>
  </div>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="d-xl-none d-lg-none" href="#">Medication</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-divider">Menu</li>
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'home' %}"
                ><i class="fa fa-fw fa-user-circle"></i>Diagnosis
                <span class="badge badge-success">6</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'medication' %}"
                ><i class="fa fa-fw fa-rocket"></i>Medication</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'nutrients' %}"
                ><i class="fa fa-fw fa-rocket"></i>Nutrients</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- end left sidebar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- wrapper  -->
  <!-- ============================================================== -->
  <div class="dashboard-wrapper">
    <div class="influence-finder">
      <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
              <h3 class="mb-2">Nutrients</h3>
              <p class="pageheader-text">
                Proin placerat ante duiullam scelerisque a velit ac porta, fusce
                sit amet vestibulum mi. Morbi lobortis pulvinar quam.
              </p>
              <div class="page-breadcrumb">
                <nav aria-label="breadcrumb"><ol class="breadcrumb"></ol></nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- content -->
        <!-- ============================================================== -->
        <div class="row">
          <!-- ============================================================== -->
          <!-- search bar  -->
          <!-- ============================================================== -->
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
              <div class="card-body">
                <form>
                  <input
                    class="form-control form-control-lg"
                    type="search"
                    id="nutrients"
                    placeholder="What did you eat today?"
                    aria-label="Search"
                  />
                  <button class="btn btn-primary search-btn" id="submit">
                    Search
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- end search bar  -->
          <!-- ============================================================== -->
          <div
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
            id="insertdata"
          >
            <!-- ============================================================== -->
            <!-- card influencer one -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- end card influencer one -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- card influencer one -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- end card influencer one -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- card influencer one -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- end card influencer one -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- card influencer one -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- end card influencer one -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- end content -->
            <!-- ============================================================== -->
          </div>
          <!-- ============================================================== -->
          <!-- influencer sidebar  -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- end influencer sidebar  -->
          <!-- ============================================================== -->
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <div class="footer" style="position: fixed;bottom: 0;z-index: 1030;">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div
              class="col-xl-6 offset-md-1 col-lg-6 col-md-6 col-sm-12 col-12"
            >
              Made with <i class="fa fa-heart" style="color:red;"></i> by team
              Ctrl plus C
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- end footer -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- end main wrapper  -->
  <!-- ============================================================== -->
  <!-- Optional JavaScript -->
  <!-- jquery 3.3.1 -->
</div>
{% endblock %} {% block scripts %}
<script src="{% static 'vendor/slimscroll/jquery.slimscroll.js' %}"></script>
<!-- main js -->
<script src="{% static 'js/main-js.js' %}"></script>
<script>
  $("#submit").click(function(e) {
    e.preventDefault();
    var meal = $("#nutrients").val();
    var data = {};
    htmlStr = "";
    data["meal"] = meal;
    data["csrfmiddlewaretoken"] = "{{ csrf_token }}";
    $.ajaxSetup({
      headers: { "X-CSRFToken": "{{csrf_token}}" }
    });
    $.ajax({
      type: "POST",
      url: "api/nutrient/",
      data: data,
      success: function(data) {
        htmlStr +=
          '<div class="card"> \
                  <h5 class="card-header">Nutritional Info about your diet</h5>\
                  <div class="card-body p-0">\
                      <div class="table-responsive">\
                          <table class="table">\
                              <thead class="bg-light" style="font-size:0.8em;">\
                                  <tr class="border-0">\
                                      <th class="border-0">Food List</th>\
                                      <th class="border-0">' +
          data.foodlist +
          '</th>\
                                  <tr class="border-0">\
                                  <td>Calories</td>\
                                  <td>' +
          data.calories +
          '</td>\
                                  </tr>\
                                  <tr class="border-0">\
                                      <th class="border-0">fat</th>\
                                      <th class="border-0">' +
          data.fat +
          '</th>\
                                  <tr class="border-0">\
                                  <td>Sugars</td>\
                                  <td>'+ data.sugars +'</td>\
                                  </tr>\
                                  <tr class="border-0">\
                                      <th class="border-0">Protein</th>\
                                      <th class="border-0">'+ data.protein +'</th>\
                                  <tr class="border-0">\
                                  <td>Carbohydrates</td>\
                                  <td>'+ data.carbohydrates +'</td>\
                                  </tr>\
                                  <tr class="border-0">\
                                      <th class="border-0">Vitamin A</th>\
                                      <th class="border-0">'+ data.vitamina +'</th>\
                                  <tr class="border-0">\
                                  <td>Vitamin B Complex</td>\
                                  <td>'+ data.vitaminbcomplex +'</td>\
                                  </tr>\
                                  <tr class="border-0">\
                                      <th class="border-0">Vitamin C</th>\
                                      <th class="border-0">'+ data.vitaminc +'</th>\
                                  <tr class="border-0">\
                                  <td>Vitamin D</td>\
                                  <td>'+ data.vitamind +'</td>\
                                  </tr>\
                                  <tr class="border-0">\
                                      <th class="border-0">Vitamin E</th>\
                                      <th class="border-0">'+ data.vitamine +'</th>\
                              </thead>\
                          </table>\
                      </div>\
                  </div>\
              </div>';
        $("#insertdata").html(htmlStr);
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        console.log("error");
      }
    });
  });
</script>
{% endblock %}
